!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "style.css", rel: "stylesheet"}/
    %title logistics
  %body
    %section.section_1
      .hd_main
        %h1.hd Logistics Company
        .hd_txt_hidden
        .hd_txt
          %h4.hd_txt_b Benefits
          %ul
            %li
              Streamline analytics processes
            %li
              Embed BI and predictive planning
            %li
              Turn insights into action
            %li
              Visualize your decisions
        .hd_txt
          %h4.hd_txt_b Our Company
          %ul
            %li
              Access AI, data-driven cloud apps
            %li
              Embed intelligence into processes
            %li
              Drive end-to-end innovation
            %li
              Scale your platform
    %section.section_2
      %h1.hd.hd2 Infographics
      .circle_1 01
      %p.p_1 Suspendisse ultrices gravida dictum fusce ut placerat orci nulla. Magna fermentum iaculis eu non diam phasellus vestibulum. Et tortor consequat id porta nibh venenatis cras sed.
      .circle_2 88%
    %section.section_3
      .ddd
        %h1.hd3 We Are Increasing Business Success With IT Solution
        %p.p_2 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .vvv
        .image
        .zzz
          .ttt
            .hhh
              .ctt
              .ggg
                %p.big Visualise it
                %p.lil Sample text. Click to select the text box. Click again or double click to start editing the text.
          .ttt
            .hhh
              .ctt
              .ggg
                %p.big Create it
                %p.lil Sample text. Click to select the text box. Click again or double click to start editing the text.
          .ttt
            .hhh
              .ctt
              .ggg
                %p.big Grow it
                %p.lil Sample text. Click to select the text box. Click again or double click to start editing the text.
      %footer.footer
        %p.f Made by Airinlind
        %p.f 2023
